body{
  text-align: center;
  margin: 0px;
  padding: 0px;

  /* Fuentes */

  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
 
}
/* Encabezado */
#header{
  height: 60px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 0px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgb(248, 244, 18) 15%, rgb(245, 70, 26) 30%, rgb(221, 15, 15) 100%);
}

.center{
  width: 100%;
  margin: 0px auto;   
}

.clearfix{
  clear: both;
}


/* Menu  */

nav{
  width: 100%;
  height: 88px;
  background: radial-gradient(circle, rgb(248, 244, 18) 15%, rgb(245, 70, 26) 30%, rgb(221, 15, 15) 100%);
  border-bottom: 1px 1px 10px 0 rgba(0,0,0,.2);
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.747);
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
}

.enlaces-header{
  font-weight: 300;
  margin: auto;
  transition: all ease-in-out .6s;
}

.nav .enlaces-header a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 20px;
  padding: 12px;
  border-radius: 10px;
}

.nav .enlaces-header a:hover{
  color: #000000;
  background-color:rgba(0, 0, 0, 0.297);
  border-color: aliceblue;
  transition: all ease-in-out .3s;
}

.hamburguer{
  width: 80px;
  height: 80px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in;
  z-index: 100;
  display: none;
}

.hamburguer > i {
  font-size: 45px;
  line-height: 80PX;
}


/* Slider  */
p{
margin: 40px;
text-align: center;
justify-content: center;

}

#slider{
  width: 100%;
  height: 400px;
  color: white;
  text-shadow: 0px 0px 5px #444;
  background-image: url(../img/fondo\ guitarras.jpg);
  background-size: cover;

}

#slider h1{
  margin-top: -1px;
  text-align: center;
  padding-top: 160px;
  font-size: 45px;
}

.btn-white{
  display: block;
  background: white;
  color: rgb(108, 108, 108);
  padding: 10px;
  width: 140px;
  height: 27px;
  margin: 0px auto;
  font-size: 15px;
  text-transform: uppercase;
  text-shadow: none;
  text-decoration: none;
  line-height: 30px;
  box-shadow: 0px 0px 5px rgb(165, 165, 165);
  margin-top: 35px ;
  border-radius: 5px;
  transition: 300ms all;
}

.btn-white:hover{
  background: rgb(255, 140, 0);
  color: white;
}


/* Secciones  */
.subheader{
  font-size: 38px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

#content{
  width: 100%;
  float: left;
  min-height: 650px;
  margin-right: 20px;
}

#sidebar{
  width: 100%;
  float: left;
  display: flex;
}

.sidebar-item{
  background: #f7f7f7;
  padding: 20px;
  margin-top: 30px;
  margin-right: 40px;
}

.sidebar-item input{
  text-align: center;
}


.sidebar-item h3{
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-item .btn{    
  margin: 0px auto;
  margin-top: 10px;
}

.btn{
  background: black;
  color: white;
  padding:15px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  display: block;
  max-width: 130px;
  transition: 300ms all;
  border: none;
  cursor: pointer;
  display: inline;
}

.btn-succes{
  background: yellow;
}

.btn-succes:hover{
  background: black;
}

input[type="text"],
input[type="password"],
input[type="email"]{
  width: 100%;
  min-height:25px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 3px;
  transition: 300ms all;
}

input[type="text"]:focus,
textarea:focus{
  box-shadow: 0px 0px 2px #444 inset;
  outline: none;
}


#footer{
  background: #f7f7f7;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
  text-transform: uppercase;
}

#footer p{
  margin: 0px;
  padding: 0px;
  display: block;
}



/* Articulos  */

#guitarras{
  width: 200px;
  height: 200px;
}

#accesorios{
  width: 200px;
  height: 200px;
}

.article-item{
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
}

.article-btn{
  height: 132px;
}

button{
  border-radius: 15px;
  background-color: #eee;
  margin-top: 10px;
  margin-bottom: 10px;

}

.image-wrap img{
  border-radius: 15px;
  border-color: hsl(0, 100%, 50%);
  margin-top: 10px;
}



.article-item .image-wrap{
  width: 200px;
  height: 130px;
  overflow: hidden;
  float: left;
  margin-right: 15px;
  border: 1px solid #ccc;
}

.article-item .image-wrap img{
  width: 100%;
  height: 100%;
  text-align: center;
}

.article-item h2{
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 7px;
}

.article-item .date{
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);;
}

.article-item a{
  color: #444;
  text-decoration: none;
  margin-top: 10px;
  background: rgb(0, 187, 255);
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  transition: 300ms all;
  cursor: pointer;
  text-align: center;
}

.article-item a:hover{
  background: rgb(0, 74, 165);
  /* color: black; */
}

/* articulos detail  */

.article-detail .image-wrap{
  float: none;
  width: 100%;
  height: 300px;
}

/* guitarras  */


.guitar_flex img{
  width: 10%;
}

.guitar_flex{
  margin-top: 10px;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 65px;
}
.guitarra {
  border-radius: 10px;
}

.guitarra:hover{
  background-color: #ff0000;
  color: #fff;
  transition: all ease-in-out .5s;
}

/* accesorios */

.Accesor_flex img{
  width: 10%;
}

.Accesor_flex{
  margin: 10px;
  border: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 65px;  
}

.accesorios{
  border-radius: 10px;
}

.accesorios:hover{
  background-color: #ff0000;
  color: #fff;
  transition: all ease-in-out .5s;
}

/* Formulario  */

textarea{
  width: 100%;
  height: 100px;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  max-height: 300px;
  
  
}

.mid-form{
  width: 40%;
  margin: 0px auto;
}

.mid-form label{
  text-align: center;
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  margin-top: 10px;
}

.radiobtn{
  margin-top: 10px;
  margin-bottom: 10px;
  float: center;
}

.formulario{
  border-radius: 10px;
  background: radial-gradient(circle, rgb(248, 244, 18) 15%, rgb(245, 70, 26) 30%, rgb(221, 15, 15) 100%);
  width: 600px;
  height: 350px;
  margin-left: 360px;
}

.botones{
  display: center;
  grid-gap: 5px; 
  margin-top: 30px;
  margin-left: -9px;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  min-height: 25px;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 3px;
  transition: 300ms all;
}

/* RESPONSIVE  */

@media screen and (max-width:900px) {

.formulario{
  width: 350px;
  margin-top: 200px;
  margin-left: 30%;
  padding: 30px 0 30px 0;
}
.radiobtn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  margin-left: -20px;
}
.botones{
    margin-left: 6px;
 }
/* accesorios */
  #accesorios {
    width: 150px;
    height: 150px;
}
.Accesor_flex{
  grid-gap: 10px;
}

/* guitarras */
#guitarras{
  width: 150px;
  height: 150px;
}
.guitar_flex{
grid-gap: 10px;
}
/* guitarras */
#footer{
  margin-top: 300px;
}

}
@media screen and (max-width:700px) {

  .hamburguer{
    display: block;
   }

   .enlaces-header{
    position: fixed;
    background-color: #ff0000;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    clip-path: circle(0.0% at 0 0);
   }
   .nav .hamburgueropen{
    clip-path: circle(150% at 0 0);
   }
   .nav .enlaces-header a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 20px;
    width: 50%;
    background-color: #e04949;
   }
   .nav .enlaces-header a:hover{
    color: #ff0000;
    background-color: #fff;
   }

   /* la visual principal */

   .h1{
    font-size: 35px;
   }
   .contenido-header{
    width: 100%;
    height: 530px;
    display: block;
   }
   .contenido-header > img{
   width: 120px;
   height: 120px;
   animation: ease-in animacion 0.5s;
   margin-top: 20px;
   margin-left: 0px;
   }
   .texto-header{
    margin-left: 0px;
   }
   .formulario{
    margin-left: 25%;
  }
}
@media screen and (max-width:400px) {

.formulario{
  margin-left: 6%;
}
}